---
layout: page
title: Blog Posts
permalink: /blog/
---
<div class="row justify-content-center">
  <div class="col-md-10">
    {% for post in site.posts %}
    <div class="card mb-2">
      <div class="card-body">
        <h3 class="card-title mb-0">{{ post.title }}</h3>
        <p class="text-muted lead font-weight-normal">
          <small>
            &bull; Published on {{ post.date | date: "%b %-d, %Y" }}
            {% if post.author %}
            <span>by {{ post.author }}</span>
            {% endif %}
          </small>
        </p><hr>
        <p class="text-muted">{{ post.content | strip_html | truncatewords: 50 }}</p>
        <a href="{{ post.url }}" class="btn btn-outline-warning">Read More</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
