---
layout: default
---
<div class="row align-items-center justify-content-center" style="height:90vh;">
  <div class="border border-warning rounded p-4">
 <h1 class="display-4 text-center">GNU/Linux Users Group</h1><hr>
    <h4 class="text-center">P.E.S College of Engineering, Mandya</h4>
  </div>
</div>

<center><h2>OSM Mapping Party</h2>
<h3>Register Here</h3>
</center>{% include osm.html %}<h2>Recent Activities</h2>
{% include recent.html %}

<h2>Upcoming Activities</h2>
{% include upcoming.html %}
