
<div class="row align-items-center justify-content-center" style="height:160vh;">
  <div class="border border-warning rounded p-4"> 
<div class="list-group mb-4">
    <center><pre>GLUG-PESCE 

<b>The OSM Mapping Party.</b>

let's contribute to the open map data and make a count.

Venue :
-CSE Seminar Hall
-PES COLLEGE OF ENGINEERING
-Mandya

Date :
-7th September, 2019

Time :
-9 AM to 4:30 PM

Contact :
-Mahima : +91 91641 96638
-Mukunda : +91 8050180183
                                   </pre></center>
                                    <center><h3>Register Here !!!</h3></center>
                                    <center><form method="POST" action="https://formspree.io/pesceglug@gmail.com">
                                      <input type="text" name="name" placeholder="Name"><br>
                                      <input type="text" name="name" placeholder="USN"><br>
                                      <input type="text" name="name" placeholder="Semester"><br>
                                      <input type="text" name="name" placeholder="Mobile Number"><br>
                                      <input type="email" name="email" placeholder="Your Email"><br>
                                      <button type="submit">Submit</button>
                                     </form></center>
                                  </div>
    </div>>
  </div>
</div>                                
